body {
    margin: 0;
    background-color: black; /* Colore di sfondo */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    cursor:none;
}
.logo.opel{
    position: relative; /* Contenitore di riferimento */
    width: 100vw;  /* Larghezza piena */
    height: 100vh; /* Altezza piena */
    background-color: black; /* Per visibilità */
    

}
img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    animation: zoomIn 2s infinite alternate ease-in-out;
}
.text{
    font-family: 'Times New Roman', Times, serif; /* Font serif */
    font-style: italic; /* Imposta il testo in corsivo */
    color: white;
    position: absolute;
    top: 25%; /* Posiziona verticalmente al centro */
    left: 63%; /* Posiziona orizzontalmente al centro */
    opacity: 0;
    animation: fadeIn 3s forwards; /* Animazione di apparizione */
    animation-delay: 10s; /* Ritardo per far apparire il testo dopo l'animazione dell'immagine */
}
.red{
    color: blue;
}
.text2{
    font-family: 'Times New Roman', Times, serif; /* Font serif */
    font-style: italic; /* Imposta il testo in corsivo */
    color: blue;
    position: absolute;
    top: 30%; /* Posiziona verticalmente al centro */
    left: 68%; /* Posiziona orizzontalmente al centro */
    opacity: 0;
    animation: fadeIn 1s forwards; /* Animazione di apparizione */
    animation-delay: 10s; /* Ritardo per far apparire il testo dopo l'animazione dell'immagine */
}

.animated-image {
    width: 70%; /* Dimensione iniziale dell'immagine */
    transform: scale(0.1); /* Inizialmente piccola */
    opacity: 1; /* Inizialmente visibile */
    animation: zoomIn 8s forwards; /* Avvia l'animazione */


}
@keyframes zoomIn {
    0% {
        transform: translate(-50%, -50%) scale(0.1); /* Inizio piccola */
    }
    100% {
        transform: translate(-50%, -50%) scale(1); /* Rimane alla dimensione normale */
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0; /* Inizio invisibile */
    }
    100% {
        opacity: 1; /* Diventa visibile */
    }
}
